@import "./assets/css/themes/lite-blue.css";
@import "./assets/css/themes/lite-blue.min.css";

@import "./assets/css/plugins/perfect-scrollbar.css";
@import "./assets/css/plugins/perfect-scrollbar.min.css";

@import "./assets/css/bootstrap-rtl.css";
@import "./assets/css/bootstrap-rtl.min.css";
@import "./assets/css/third-party.bundle.css";

@import "./assets/css/plugins/bootstrap/bootstrap.css";
@import "./assets/css/plugins/bootstrap/bootstrap.min.css";

@import "./assets/css/plugins/datatables.min.css";


.notification { 
    position: fixed;
    right: 5rem;
    top: 5rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}





